body{
	background: url("132935-white-brick-wallpaper-2048x1376-for-hd.jpg");
}
h1 
{
	color: red ;
	text-align: center;
}
h2
{
  color: blue;
  text-align: center;
} 
a{
	color:black;
}
ul{
	color:black;
}